
<style>

.squarecol, .squarepic{
     border-radius: 50%;
     margin: 0 auto
}

.squarecol, .squarepic{
     border-radius: 50%;
     height: 15vw;
     width: 15vw;
}
.work_thumb, .work_text, {
     border-radius: 50%;
}
</style>

              <!-- FIRST PROJECT----------------------------------------------------------->


                   <div class="squarecol" data-aos="fade" data-aos-delay="100">

                    <!--REPLACE PROJECT LINK HERE -->
                    <!--<a href=(copy and paste the project web link here) class="work-thumb"> -->
                      <a rel="preload"  href="{{ author.url | prepend: site.baseurl | replace: '//', '/' }}" class="work-thumb">
                      <div class="work-text">
                    <!--Change project name here -->
                    <!--<h2>(put your content here)</h2>-->
                         <h2>{{ include.name }}</h2>
                    <!--.......................................................................................-->
                         <p>{{ include.position }}</p>
                        </div>
                    <!-- Repalce project background image here -->
                   <!--<img src=(paste image path here) alt="Image" class="img-fluid" style="max-height: 40%">-->
                        <img src="{{include.image}}" alt="Image" class="img-fluid squarepic" style="border-color:rgba(246,245,245,1); ">
                   <!--.......................................................................................-->
                      </a>
                    </div>
