
<!doctype htm
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>append demo</title>
<style>
.sampledatasectionHT, #transferhere, .imgvoidvalue{
     display:none;
}
.intro-text{
     box-shadow: 5px 5px 60px rgb(0,0,0, 0.1) ;
}
</style>


</head>
<body>




<div class="sampledatasectionHT">
<section class="page-section clearfix">
  <div class="container">
   <div class="intro">

      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded myimghereHT" src="TESTHERE" onerror="this.onerror=null;this.src='../web/img/404error.jpg';"  alt=""/>
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
           <h2 class="section-heading mb-4">
                <span class="section-heading-upper mainheaderHT" style="text-transform: none; color:black"></span>
                <span class="section-heading-lower subheaderHT" style="color:black"></span>
           </h2>

        <p class="mb-3 myparagraphHT">{{ page.describe }}</p>
      </div>
   </div>
  </div>
</section>
</div>




<div id="appendhere">
</div>


<div id="transferhere">

</div>


     </body>
</html>
