<head>
<style>
     #mycontent, #transferhereVO, .vidvoidvalue, .voidvalue, .sampledatasectionVO{
          display:none;
     }
</style>
<!-- Bootstrap core CSS -->
<link href="../web/mycss/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link rel="preload stylesheet" as="font" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
<link  rel="preload stylesheet" as="font"href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" >

<!-- Custom styles for this template -->
<link href="../web/mycss/business-casual.min.css" rel="stylesheet preload" as="style">
<link href="../web/mycss/business-frontpage.css" rel="stylesheet preload" as="style">
<!--Allison's helper functions for appending content-->
<script rel="preload" as="script" src="../web/js/append_helper_functions.js"></script>
<script rel="prerendor" as="script" src="../web/js/create_website.js"></script>

<!--...........................................................................................................-->


<!-- Custom styles for this template -->

<!-- Theme Style -->
<link rel="stylesheet preload"  as="style"href="../web/mycss/style.css">


</head>
<body >
<div id="mycontent">
     {{ content }}
</div>
<div id="myappendcontent">
</div>


<h2 class="voidvalue"></h2>
<h1 class="voidvalue"></h1>
<p class="voidvalue"></p>
<img class="imgvoidvalue" src="../web/img/defaultimg.jpg" alt="">
</body>
