<head>
<style>
     #mycontent, #transferhereVO, .vidvoidvalue, .sampledatasectionVO{
          display:none;
     }
</style>
</head>
<body onload="CreateWebMain();">
<div id="mycontent">
     {{ content }}
</div>
<div id="myappendcontent">
</div>


<h2 class="voidvalue"></h2>
<h1 class="voidvalue"></h1>
<p class="voidvalue"></p>
<img class="imgvoidvalue" src="web/img/defaultimg.jpg" alt="">
<iframe class="vidvoidvalue" src="https://www.youtube.com/embed/yUdPmRtaqRs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
