
blockquote {
     background: #f9f9f9;
     border-left: 10px solid #ccc;
     margin-left: 15%;
     padding: 0.5em 10px;
     quotes: "\201C""\201D""\2018""\2019";

}
blockquote:before {
     color: #ccc;
     content: open-quote;
     font-size: 4em;
     line-height: 0.1em;
     margin-right: 0.25em;
     vertical-align: -0.4em;

}
blockquote p {
     display: inline;

}


ol {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  margin-left:10%;
}
ol li:nth-child(odd)::before {
     text-align: center;
      transform: rotate(-10deg);
  content: counter(my-awesome-counter);
  color: #fff;
  font-size: 1.5rem;

  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;

  background: black;
  border-radius: 50%;
}

ol li:nth-child(even)::before {
     text-align: center;
      transform: rotate(+10deg);
  content: counter(my-awesome-counter);
  color: #fff;
  font-size: 1.5rem;

  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;

  background: black;
  border-radius: 50%;
}

ol {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
ul li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  margin-left:10%;
}

ul li:nth-child(odd)::before {
     text-align: center;
      transform: rotate(-10deg);
  content: ".";
  color: #000;
  font-size: 1.5rem;

  position: absolute;
  --size: 27px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;

  background: black;
  border-radius: 50%;
}

ul li:nth-child(even)::before {
     text-align: center;
      transform: rotate(+10deg);
  content: "";
  color: #fff;
  font-size: 1.5rem;

  position: absolute;
  --size: 27px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;

  background: black;
  border-radius: 50%;
}
/*free_write css --------------------------------------------------*/
.sample_free_write_content_container_container {
          display: none;
}
.sample_free_write_content_container, .free_write_content_container {
     align: center;
}
.free_write_row {
     text-align:center;
     justify-content:center;
}
.free_write_content{
     align:center;
     font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     width:65%;
}
@media(max-width:992px) {
     .free_write_content{
          width:85%;
     }
     .free_write_row {
          text-align:center;
          justify-content:center;
          margin-left: 15px;
          margin-right: 15px;
     }

     .sample_free_write_content_container, .free_write_content_container {
          align: center;
          margin-left: 3%;
          margin-right: 3%;
     }
}
.imgOnly{
     text-align:right;
}

.free_write_content h2{
     text-align: center;
}
.free_write_content h3,
.free_write_content h4,
.free_write_content h5,
.free_write_content h6 {
     text-align: left;
     font-weight: 400;
}
.free_write_content h2 {
     font-weight: 300;
}
.free_write_content h1 {
     text-align:left;
     font-weight: 500;
}
.imgOnly img{
      box-shadow: 2px 2px 5px grey;
      width: 50%;
}

/*style ref: http://adis.ca/entry/2011/pretty-code-block-in-css/*/


     .highlighter-rouge{
          radius: 10%;
          box-shadow:1px 1px 8px 1px #bbb;
     }

   .highlight {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 1px;
        margin-bottom: 20px;
       font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
       font-size: 95%;
       line-height: 140%;

       white-space: pre;
       white-space: pre-wrap;
       white-space: -moz-pre-wrap;
       white-space: -o-pre-wrap;
       background-color: rgb(248, 248, 248);
   }

   pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}
