<!DOCTYPE html>
<html lang="en">

<head>

<style>
#my_container{
     padding-top: 5%;
     background-color: #FFF;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
#testthis img:first-child{
     width: 30%;
}
</style>

</head>
<body>


<div id= "my_container">
     <div class="container" style="margin-top: 7rem；boarder:0 ">
          <div id="testthis">
                         {{ content }}
          </div>
               <hr>
     </div>
</div>

</body>
</html>
