<section class="page-section clearfix">
  <div class="container">
   <div class="intro">
         <!-- Change the image here, replace the path of the image after src=  -->
        <!--...........................................................................................-->
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{page.introimage}}" alt="">
       <!--...........................................................................................-->
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">

               <!-- ....................................................................................-->
          <span class="section-heading-upper" style="text-transform: none; color:black">{{ page.header2 }}</span>
               <!-- .......................................................................................-->
               <!-- Second line of the block -->
               <!--<span class="section-heading-lower">(put you content here)</span> -->
               <!-- .......................................................................................-->
          <span class="section-heading-lower" style="color:black">{{ page.subheader }}</span>
               <!-- ......................................................................................-->
        </h2>
             <!-- this is the instruction details -->
             <!--<p class="mb-3">(put you content here)</p> -->
             <!-- ..............................................................................................................................-->
        <p class="mb-3">	{{ page.describe }}
           <!--....................................................................................................................................-->
        </p>
      </div>
   </div>
  </div>
</section>
