<!--
Variableslink to blog-->

<div class="col-sm-4 col-md-4 col-lg-4" data-aos="fade" data-aos-delay="100"
<!--REPLACE PROJECT LINK HERE -->
<!--<a href=(copy and paste the project web link here) class="work-thumb"> -->
  <a href="{{include.url}}" class="work-thumb">
    <div class="work-text">
<!--Change project name here -->
<!--<h2>(put your content here)</h2>-->
      <h2>SPIKE Prime BACKPACKS</h2>
<!--.......................................................................................-->
      <p>CEEO INNOVATIONS</p>
    </div>
<!-- Repalce project background image here -->
<!--<img src=(paste image path here) alt="Image" class="img-fluid" style="max-height: 40%">-->
      <img src="web/img/backpack.png" alt="Image" class="img-fluid" style="max-height: 40%">
<!--.......................................................................................-->
  </a>
</div>
