---
layout: wrapper
---
<!doctype html>
<html lang="en">
     <head>
          <meta charset="utf-8">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <title>append demo</title>
          <style>
          </style>

          <script type="text/javascript">
               function copyDiv(){
                     var firstDivContent = document.getElementById('mydiv1');
                     var secondDivContent = document.getElementById('mydiv2');
                     secondDivContent.innerHTML = firstDivContent.innerHTML;
                    // myFirstCard();
                     }
               function myFirstCard(){
                     var secondDivContent = document.getElementById('mydiv2');
                     var cardheader = secondDivContent.getElementsByTagName('h1')[0];
                     document.getElementById("mytems").innerHTML = "hello";

               }

               embedly('on', 'card.rendered', function(iframe){

                    // iframe is the card iframe that we used to render the event.
                    $card = $(iframe);

                    // Grab the width and height.
                    console.log($card.width(), $card.height());
               });

          </script>
     </head>
<body onload="copyDiv();">
     <div id="mydiv1">
          {{content}}
     </div>
     <div id="mydiv2">

     </div>

     time for div3

     my part div done

      <a href="http://embed.ly" class="embedly-card">Embedly</a>

     <div class="row">
             <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8" data-card-theme="dark"></script>
       <div class="col-md-5 bg-faded rounded" style="margin-left: 1%; background-color:white; border:0" >
              <!-- paste the embeded code from Embeddedly here -->
              <!-- ...............................................................................................................................-->

               <a href="https://www.instructables.com/member/CEEOInnovations/" class="embedly-card">Embedly</a>
              <blockquote class="embedly-card"><h4><a href="https://www.instructables.com/id/MicroPython-on-SPIKE-Prime/"><div id="mytems"></div></a></h4><p>You can code SPIKE Prime using MicroPython which is a subset of python for small microprocessors. You can use any terminal emulator to code the SPIKE Prime hub. SPIKE Prime hub Computer with USB Port / bluetooth USB cable to connect the hub to the computer There are many options to choose from.</p></blockquote>

              <!-- ...............................................................................................................................-->
       </div>
       <div class="col-md-700" >
              <!-- Relace the spike prime tool kit image here, replace the image path after src=  -->
              <!-- ...............................................................................................-->
              <img class="img-fluid rounded mb-3 mb-md-0" style="margin-left: 5% " src="web/img/spike_1.png" alt="">
              <!-- ...............................................................................................-->
       </div>
     </div>

</body>

<html>
