---
layout: "wrapper"
---
<!-- Page title ------------------------------------------------->
     {% include myposttitle.html %}
<!-- Header for page Heading ---------------------------------->
     {% include header.html %}
<!-- Page Heading ---------------------------------->
     {% if page.github == true%}
          {% include headproject.html %}
     {% endif %}
 <!-- Links to Instructables/Github for projects ---------------------------------->
     {% if page.github == true%}
          {% include projects.html%}
     {% endif %}
 <!-- Blog Post ---------------------------------->

     {% include blogcontent.html%}
