---
layout: "wrapper"
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <title></title>

     </head>

<body>

     <!-- DO NOT DELETE, IMPORT OF MARKDOWN ---------------------------------->
          {% include include_content.html %}
          {% include page_title.html %}

<!-- Header for page Heading ---------------------------------->
          {% include image_header.html %}
<!-- Page Heading ---------------------------------->
          {% include pdf_include.html %}
<!-- Video Overlay---------------------------------->
          {% include video_overlay.html %}
<!--Free Write----------------------------------->
          {% include free_write.html %}

          <!-- Authors --------------------------------->
               <h1>WHIP NAE</h1>     {% include authors.html %}

<!--Allison's helper functions for appending content-->
          <script src="../web/js/create_website.js"></script>
          <script src="../web/js/append_helper_functions.js"></script>

          <script>CreateWebMain();</script>



</body>
</html>
